[profile.default]
src = "src"
out = "out"
libs = ["lib"]
test = "test"
script = "script"
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
fs_permissions = [{ access = "read", path = "./"}]

[rpc_endpoints]
mantle_testnet = "https://rpc.testnet.mantle.xyz"
